*{
    margin: 0;
    padding: 0;
}

.ball {
    width: 300px;
    height: 300px;
    margin: 50px auto;
    border-radius: 100%;
    background-image: radial-gradient(8em circle at left, hsla(220,89%,100%,1), hsla(30,60%,60%,.9));
}