* {
    margin: 0;
    padding: 0;
}
.patterns {
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;
    box-shadow: 0 1px 8px #666;
}
.pt1 {
    background-size: 50px 50px;
    background-color: #0ae;
    /* background-image: -webkit-linear-gradient(rgba(255,255,255,.2) 50%, transparent 50%,transparent) ; */
    background-image: linear-gradient(rgba(255,255,255,.2) 50%, transparent 50%,transparent) ;

}
.pt2 {
    background-size: 50px 50px;
    background-color: white;
    /*线性渐变*/
    background-image: linear-gradient(to top, transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5)),
                    linear-gradient(to left, transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5));
}
.pt3 {
    background-size: 50px 50px;
    background-color: white;
    background-image: linear-gradient(45deg , transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5)),
                    linear-gradient(135deg, transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5));
}
