{{ extend './layout/main.html'}}
   
{{block 'content'}}

    <style type="text/css">
    #pwd-level div {
        height: 30px;
        width: 30px;
        display: inline-block;
        float: left;
    }
    
    #pwd-level span {
        display: inline-block;
        float: left;
    }
    </style>

    <link href="/public/css/register.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
    </script>
    <div class="aw-register-box">
        <div class="mod-head">
            <a href="/"></a>
            <h1>注册新用户</h1>
        </div>
        <div class="mod-body">
            <form action="" class="aw-register-form" method="post" id="register_form">
                <ul>
                    <li class="alert alert-danger hide error_message text-left">
                        <i class="icon icon-delete"></i> <em></em>
                    </li>
                    <li>
                        <input class="aw-register-name form-control" type="text" name="username" placeholder="用户名" value="" id="username"/>
                    </li>
                    <li>
                        <input class="aw-register-email form-control" type="text" placeholder="邮箱" name="email" value="" />
                    </li>
                    <li>
                        <input class="aw-register-pwd form-control" type="password" name="password" placeholder="密码" id="password" />
                    </li>
                    <div id='pwd-level'>
                        <span>密码强度:</span>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <hr/>
                    <li class="aw-register-verify">
                        <img class="pull-right" width="120" src="/user/get-pic" 
                        onclick="this.src = '/user/get-pic?' + Date.now() ">
                        <input type="text" class="form-control" name="v_code" placeholder="验证码" />
                    </li>
                    <li class="last">
                        <label>
                            <input type="checkbox" checked="checked" value="agree" /> 我同意</label> <a href="javascript:;" class="aw-agreement-btn">用户协议</a>
                        <a href="/login" class="pull-right">已有账号?</a>
                        <div class="aw-regiter-agreement hide">
                            <div class="aw-register-agreement-txt" id="register_agreement"></div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <button type="submit" class="btn btn-large btn-blue btn-block">
                            注册
                        </button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    
    <script type="text/javascript">
    var checkUsername = (function() {
        // 节流（延迟半秒发请求）
        var timer;
        var prevUsername;
        // 内部函数对外部函数变量的使用，这个是闭包的典型应用，优点: 避免了全局变量
        return function (e) {
            // 清空之前的任务
            clearTimeout(timer); 
              // 2: 给元素绑定keyup事件
             // 3: 事件触发接受e.target.value =》 用户名
             var that = this;

             timer = setTimeout(function() {
                var username = $(that).val();
                // 判断上次请求的数据是否完全一致
                if(prevUsername === username) return;
                // 4:异步调用接口
                $.ajax({
                    url:'/user/check-username',
                    type:'post',
                    // content-type默认是键值对的
                    data:'username=' + username,
                    dataType:'json',
                    success:function(data) {
                        prevUsername = username;
                        if(data.code === '001') {
                            alert('可以注册')
                        } else {
                            alert('用户名已经存在')
                        }  
                    }
                });
            },500)
        }
    })();
    // 1: 通过id:username查找元素
    $('#username').on('keyup', checkUsername)


    // 验证密码强度函数
    function checkPwdLeve (str) {
        var tmpLevel = 0;
        // 三次判断
        var reg1 = /\d/; // 数字
        var reg2 = /\w/; // 字母
        var reg3 = /\W/; //特殊字符

        if(reg1.test(str)) tmpLevel ++;
        if(reg2.test(str)) tmpLevel ++;
        if(reg3.test(str)) tmpLevel ++;
        return tmpLevel;
    }

    // 2.1：密码强度
    $('#password').on('keyup',function(e) {
        // 保存输入值
        var pwd = $(this).val();
        var level = checkPwdLeve(pwd);
        // 查找这些div
        var divs = $('#pwd-level').find('div');

        // 清空背景色
        for(var i = 0;i< divs.length; i++) {
            divs[i].style.backgroundColor = '';
        } 
        // 包含所有的颜色
        var colors = ['yellowgreen','skyblue','hotpink'];
        // level越大，遍历次数就越多，div设置就越大
        for(var i = 0;i< level; i++) {
            divs[i].style.backgroundColor = colors[i];
        }

    });    

    // 3.1: 表单提交
    $('#register_form').on('submit',function(e) {
        // 禁止默认提交事件
        e.preventDefault();
        // 获取表单的数据
        var formData = $(this).serialize(); // username=xxx&email=xxx
        // ajax请求
        $.ajax({
            url:'/user/do-register',
            data:formData,
            type:'post',
            dataType:'json',
            success:function(data) {
                if(data.code === '001') {
                    // 是否去登陆
                    if(confirm('注册成功,是否去登录?')) {
                        window.location = '/user/login';
                    }
                } else {
                    alert('注册失败:'+data.msg);
                }
            }
        })
    })

    </script>




{{/block}}
