 <link href="/public/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/public/vender/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/icon.css" />
    <link href="/public/css/common.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/link.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/style.css" rel="stylesheet" type="text/css" />
    <script src="/public/vender/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="/public/vender/bootstrap/dist/js/bootstrap.js"></script>